appnope==0.1.2
asgiref==3.5.0
astroid==2.11.0
autopep8==1.6.0
backcall==0.2.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorclass==2.2.2
coreapi==2.3.3
coreschema==0.0.4
Cython==0.29.28
decorator==5.1.1
Django==3.0.6
djangorestframework==3.13.1
dlib==19.18.0
docopt==0.6.2
face-recognition==1.2.3
face-recognition-models==0.3.0
glob2==0.7
graphics==1.0
idna==3.2
importlib-metadata==4.11.3
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
isort==4.3.21
itypes==1.2.0
jedi==0.18.0
Jinja2==3.0.3
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.4.2
MarkupSafe==2.1.1
mccabe==0.6.1
numpy==1.17.4
openapi-codec==1.3.2
packaging==21.3
pandas==1.3.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pika==1.2.0
Pillow==6.2.1
prompt-toolkit==3.0.18
psycopg2==2.8.5
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.8.1
pylint==2.3.1
pyparsing==3.0.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==22.0.3
requests==2.26.0
six==1.12.0
sqlparse==0.3.1
terminaltables==3.1.10
toml==0.10.2
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.63.0
traitlets==5.0.5
typed-ast==1.4.0
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.6
wcwidth==0.2.5
wrapt==1.11.2
zipp==3.7.0
